/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

html,
body {
  min-height: 100%;
}

#searchBar {
  display: flex; 
 
}

#grid-container li {
  display: inline;
  margin: 2%;
  /* padding:2%; */
  flex-wrap: wrap;
  /* padding-left:5%;
  margin-left:5%; */
}

#grid-container img {
  display: block;
  width: 30%;
  margin: 1%;
  padding: 1%;
  border: 2px;
}

.Petcarousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.carousel img {
  width: 100%;
  height: auto;
}

.footer {
  position: absolute;
  width: 100%;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  bottom: -5;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
